<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Sidebar</title>
    {{range .assets.css}}
    <link href="{{.}}" rel="stylesheet">
    {{end}}
</head>
<body>

<div class="d-flex">
    <!-- Sidebar -->
    <div id="sidebar" class="bg-dark">
        <h4 class="p-3 text-center">X~</h4>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home me-2"></i> Encrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/decrypt"><i class="fas fa-user me-2"></i> Decrypt</a>
            </li>
        </ul>
    </div>

    <!-- Content -->
    <div id="content" class="w-100">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button id="sidebarToggle" class="btn">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </nav>

        <!-- Main Content -->
        {{ . }}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            {{ if .validationError.Alert }}
                            <div class="alert alert-danger" role="alert">
                                {{ .validationError.Alert }}
                            </div>
                            {{ end }}
                            <form id="uploadForm" action="" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="keyAlphabet" class="form-label">Input Key1</label>
                                    <textarea class="form-control {{ if .validationError.Alphabet }}is-invalid{{ end }}" name="keyAlphabet" id="keyAlphabet" cols="30" rows="10">{{ if .formValues.Alphabet }}{{ .formValues.Alphabet }}{{ end }}</textarea>
                                    <div class="invalid-feedback">
                                        {{ .validationError.Alphabet }}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="keyShifter" class="form-label">Input Key2</label>
                                    <input type="text" class="form-control {{ if .validationError.KeyShifter }}is-invalid{{ end }}" name="keyShifter" id="keyShifter" value="{{ if .formValues.KeyShifter }}{{ .formValues.KeyShifter }}{{ end }}">
                                    <div class="invalid-feedback">
                                        {{ .validationError.KeyShifter }}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="keyTranspose" class="form-label">Input Key3</label>
                                    <input type="text" class="form-control {{ if .validationError.KeyTranspose }}is-invalid{{ end }}" name="keyTranspose" id="keyTranspose" value="{{ if .formValues.KeyTranspose }}{{ .formValues.KeyTranspose }}{{ end }}">
                                    <div class="invalid-feedback">
                                        {{ .validationError.KeyTranspose }}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="file_video" class="form-label">Upload Video</label>
                                    <input type="file" class="form-control {{ if .validationError.File }}is-invalid{{ end }}" name="file" id="file_video" accept="video/*">
                                    <div class="invalid-feedback">
                                        {{ .validationError.File }}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="message" class="form-label">Message</label>
                                    <textarea class="form-control {{ if .validationError.Message }}is-invalid{{ end }}" name="message" id="message" cols="30" rows="10">{{ if .formValues.Message }}{{ .formValues.Message }}{{ end }}</textarea>
                                    <div class="invalid-feedback">
                                        {{ .validationError.Message }}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
<!--                <div class="col-sm-4">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <h5>Max Capacity Message</h5>-->
<!--                            <p id="maxCapacity"></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>

{{ range .assets.js }}
<script src="{{ . }}"></script>
{{ end }}
</body>
</html>
